[plugin]
active = true

[rebootoptions]
try_adb_first = <yes or no>
#values are in minutes
sleeptime_between_check = 5
mitm_timeout = 15
proto_timeout = 15
force_reboot_timeout =  20
reboot_waittime = 15

[socketserver]
host = <hosturl>
port = 50000

[auth]
token = changeit

[discord]
webhook_enable: <yes or no>
webhookurl: https://discord.com/api/webhooks/******