[plugin]
active = true

[rebootoptions]
sleeptime_between_check = 5
mitm_timeout = 30
proto_timeout = 30
force_reboot_timeout =  30
reboot_waittime = 20

[socketserver]
host = <hosturl>
port = 50000

[auth]
token = changeit

[discord]
webhook_enable: <yes or no>
webhookurl: https://discord.com/api/webhooks/******