certifi==2023.7.22
charset-normalizer==2.0.12
configparser==5.2.0
gevent==23.9.1
greenlet==1.1.2
idna==3.3
mysql-connector==2.2.9
prometheus-client==0.17.0
requests==2.27.1
urllib3==1.26.18
webcolors==1.11.1
websocket==0.2.1
websocket-client==1.3.2
zope.event==4.5.0
zope.interface==5.4.0