{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
<style>
    code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: 'Courier New';
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
</style>
{% endblock %}

{% block content %}
<h2>MAD plugin - RebootMadDevice</h2>
<strong>Legend</strong><br>
<ul>
    <li><a href="#features">Features</a></li>
    <li><a href="#configplugin">Config Plugin</a></li>
    <li><a href="#configclient">Config Client</a></li>
    <li><a href="#clientdaemon">Client Daemon</a></li>
</ul>
Reboot MAD devices via ADB or PowerSwitch when device is not responding<br><br>
<h3 id="features">Features and supported hardware</h3>
<code>
    &nbsp;&nbsp;&nbsp;- support for status LED with WS2812 led stripe<br>
    &nbsp;&nbsp;&nbsp;- support for external status LED via websocket (https://github.com/FabLab-Luenen/McLighting)<br>
    &nbsp;&nbsp;&nbsp;- usable with PowerBoard (Link will follow)<br>
    &nbsp;&nbsp;&nbsp;- usable with external commands<br>
    &nbsp;&nbsp;&nbsp;- usable with web api like sonoff<br>
    &nbsp;&nbsp;&nbsp;- usable with gpio<br>
    &nbsp;&nbsp;&nbsp;- relay mode NC or NO<br>
</code><br><br>
<h3 id="configplugin">Config Plugin</h3>
<code>
    &nbsp;&nbsp;&nbsp;[plugin]<br>
    &nbsp;&nbsp;&nbsp;pluginname = RebootMadDevice<br>
    &nbsp;&nbsp;&nbsp;description = Reboot MAD Devices if they are not responding<br>
    &nbsp;&nbsp;&nbsp;author = GhostTalker<br>
    &nbsp;&nbsp;&nbsp;url = <madminurl><br>
    &nbsp;&nbsp;&nbsp;version = 1.0<br>
    &nbsp;&nbsp;&nbsp;active = true<br>
    &nbsp;&nbsp;&nbsp;<br>
    &nbsp;&nbsp;&nbsp;[rebootoptions]<br>
    &nbsp;&nbsp;&nbsp;sleeptime_between_check = 5<br>
    &nbsp;&nbsp;&nbsp;mitm_timeout = 30<br>
    &nbsp;&nbsp;&nbsp;proto_timeout = 30<br>
    &nbsp;&nbsp;&nbsp;force_reboot_timeout =  30<br>
    &nbsp;&nbsp;&nbsp;reboot_waittime = 20<br>
    &nbsp;&nbsp;&nbsp;<br>
    &nbsp;&nbsp;&nbsp;[socketserver]<br>
    &nbsp;&nbsp;&nbsp;host = <hosturl><br>
    &nbsp;&nbsp;&nbsp;port = 50000<br>
    &nbsp;&nbsp;&nbsp;<br>
    &nbsp;&nbsp;&nbsp;[auth]<br>
    &nbsp;&nbsp;&nbsp;token = changeit<br>
    &nbsp;&nbsp;&nbsp;<br>
    &nbsp;&nbsp;&nbsp;[discord]<br>
    &nbsp;&nbsp;&nbsp;webhook_enable: <true or false><br>
    &nbsp;&nbsp;&nbsp;webhookurl: https://discord.com/api/webhooks/******<br>
</code><br><br>
<h3 id="configclient">Config Client</h3>
<code>
    &nbsp;&nbsp;&nbsp;[Enviroment]<br>
    &nbsp;&nbsp;&nbsp;ADB_PATH: /usr/bin<br>
    &nbsp;&nbsp;&nbsp;ADB_PORT: 5555<br>
    &nbsp;&nbsp;&nbsp;<br>
    &nbsp;&nbsp;&nbsp;[MAD server]<br>
    &nbsp;&nbsp;&nbsp;MADMIN_HOST: <Hostname or IP><br>
    &nbsp;&nbsp;&nbsp;PLUGIN_PORT: <50000><br>
    &nbsp;&nbsp;&nbsp;PLUGIN_TOKEN: 'changeit'<br>
    &nbsp;&nbsp;&nbsp;<br>
    &nbsp;&nbsp;&nbsp;[Status LED]<br>
    &nbsp;&nbsp;&nbsp;LED_ENABLE: <True/False><br>
    &nbsp;&nbsp;&nbsp;# internal or external LED<br>
    &nbsp;&nbsp;&nbsp;LED_TYPE: internal/external<br>
    &nbsp;&nbsp;&nbsp;# Number of LED pixels.<br>
    &nbsp;&nbsp;&nbsp;LED_COUNT: 60<br>
    &nbsp;&nbsp;&nbsp;# GPIO pin connected to the pixels (18 uses PWM!)<br>
    &nbsp;&nbsp;&nbsp;LED_PIN: 18<br>
    &nbsp;&nbsp;&nbsp;# LED signal frequency in hertz (usually 800khz)<br>
    &nbsp;&nbsp;&nbsp;LED_FREQ_HZ: 800000<br>
    &nbsp;&nbsp;&nbsp;# DMA channel to use for generating signal (try 10)<br>
    &nbsp;&nbsp;&nbsp;LED_DMA: 10<br>
    &nbsp;&nbsp;&nbsp;# Set to 0 for darkest and 255 for brightest<br>
    &nbsp;&nbsp;&nbsp;LED_BRIGHTNESS: 255<br>
    &nbsp;&nbsp;&nbsp;# True to invert the signal (when using NPN transistor level shift)<br>
    &nbsp;&nbsp;&nbsp;LED_INVERT: False<br>
    &nbsp;&nbsp;&nbsp;# WS for external LED<br>
    &nbsp;&nbsp;&nbsp;LED_WS_EXTERNAL: ws://<IP>:<Port><br>
    &nbsp;&nbsp;&nbsp;<br>
    &nbsp;&nbsp;&nbsp;[Devices]<br>
    &nbsp;&nbsp;&nbsp;DEVICE_0: <ORINGIN_DEVICE_0>;<IP_ADRESS_DEVICE_0><br>
    &nbsp;&nbsp;&nbsp;DEVICE_1: <ORINGIN_DEVICE_1>;<IP_ADRESS_DEVICE_1><br>
    &nbsp;&nbsp;&nbsp;DEVICE_xx: <ORINGIN_DEVICE_xx>;<IP_ADRESS_DEVICE_xx><br>
    &nbsp;&nbsp;&nbsp;<br>
    &nbsp;&nbsp;&nbsp;[PowerSwitchCommands]<br>
    &nbsp;&nbsp;&nbsp;SWITCH_MODE: <GPIO or HTML or CMD or PB><br><br>
    &nbsp;&nbsp;&nbsp;#### for HTTP mode ####<br>
    &nbsp;&nbsp;&nbsp;PowerON_Device_1: http://<IPADRESS_POWER_SWITCH>/<PowerONcommand><br>
    &nbsp;&nbsp;&nbsp;PowerOFF_Device_1: http://<IPADRESS_POWER_SWITCH>/<PowerOFFcommand><br>
    &nbsp;&nbsp;&nbsp;PowerON_Device_2: http://<IPADRESS_POWER_SWITCH>/<PowerONcommand><br>
    &nbsp;&nbsp;&nbsp;PowerOFF_Device_2: http://<IPADRESS_POWER_SWITCH>/<PowerOFFcommand><br><br>
    &nbsp;&nbsp;&nbsp;#### for GPIO mode ####<br>
    &nbsp;&nbsp;&nbsp;RELAY_MODE: <NO or NC><br>
    &nbsp;&nbsp;&nbsp;#the cleanup_mode is optional. only use if you have problems with the relayswitch<br>
    &nbsp;&nbsp;&nbsp;CLEANUP_MODE: <yes or no><br>
    &nbsp;&nbsp;&nbsp;GPIO_Device_1: 17<br>
    &nbsp;&nbsp;&nbsp;GPIO_Device_2: 27<br><br>
    &nbsp;&nbsp;&nbsp;#### for CMD mode ####<br>
    &nbsp;&nbsp;&nbsp;PowerON_Device_1: <path>/<command> <options><br>
    &nbsp;&nbsp;&nbsp;PowerOFF_Device_1: <path>/<command> <options><br>
    &nbsp;&nbsp;&nbsp;PowerON_Device_2: <path>/<command> <options><br>
    &nbsp;&nbsp;&nbsp;PowerOFF_Device_2: <path>/<command> <options><br><br>
    &nbsp;&nbsp;&nbsp;#### for PB mode ####<br>
    &nbsp;&nbsp;&nbsp;PB_INTERFACE: /dev/ttyACM0<br>
    &nbsp;&nbsp;&nbsp;PB_Device_1: 1<br>
    &nbsp;&nbsp;&nbsp;PB_Device_2: 2<br>
    &nbsp;&nbsp;&nbsp;PB_Device_3: 3<br>
    &nbsp;&nbsp;&nbsp;PB_Device_4: 4<br>
</code><br><br>
<h3 id="clientdaemon">Client Daemon</h3>
The deamon has to be started with:
<code>
    &nbsp;&nbsp;&nbsp;RMDclientDaemon.sh start<br>
</code>
if you want to check that is running:
<code>
    &nbsp;&nbsp;&nbsp;RMDclientDaemon.sh status<br>
</code>
and if you want to stop>
<code>
    &nbsp;&nbsp;&nbsp;RMDclientDaemon.sh stop<br>
</code>
<br>


{% endblock %}
