{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
<script>
    function setGrid(tableGridHtmlId, gridData) {
        $(tableGridHtmlId).DataTable({
            "data": gridData,
            "columns": [
                { data: 'device_origin', title: 'Origin' },
                { data: 'injection_status', title: 'Injected' },
                { data: 'last_mitm_data', title: 'Last MITM' },
                { data: 'last_proto_data', title: 'Last PROTO' },
                { data: 'last_reboot_time', title: 'Last Reboot' },
                { data: 'reboot_nessessary', title: 'Need reboot' },
                { data: 'reboot_force', title: 'Force' },
                { data: 'worker_status', title: 'Worker' },
                { data: 'worker_mode', title: 'Worker Mode' },
                { data: 'last_client_connect', title: 'Client connect' },
				
            ],
            "columnDefs": [
               
            ],
            "drawCallback": function () {
                $("img.lazy").lazyload();
            },
            "order": [[0, "desc"]],
            "responsive": {{ responsive }},
            "autoWidth": false,
            "stateSave": true,
        });
	}


    $(document).ready(function () {
        $("#navgyms").addClass("active");
        $.ajax({
            type: "GET",
            url: "rmdstatus",
            success: function (result) {
                setGrid('#show-data', result);
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<h2>RebootMadDevice Status</h2>
<div class="row">
  <div class="col">
    <table id="show-data" class="table" style="width:100%"></table>
  </div>
</div>
{% endblock %}