######################################################
#                                                    #
#      Configuration file for RebootMadDevice        #
#                                                    #
######################################################

[ENVIROMENT]
ADB_PATH: /usr/bin
ADB_PORT: 5555

[LOGGING]
LOG_MODE: console
LOG_FILENAME: RMDClient.log
LOG_LEVEL: INFO

[ROTOMAPI]
API_ROTOM_SECRET: <secret>
API_ENDPOINT_STATUS: http://<ip>:<port>/api/status

[PROMETHEUS]
PROMETHEUS_ENABLE: <True/False>
PROMETHEUS_PORT: <port>
PROMETHEUS_DEVICE_LOCATION: <value>

[REBOOTOPTIONS]
TRY_ADB_FIRST = <True/False>
TRY_RESTART_MAPPER_FIRST = <True/False>
# Time in seconds between checking for which devices need to be rebooted (loop).
SLEEPTIME_BETWEEN_CHECK = 10
# Time in seconds of not receiving data that must be exceeded to consider a device as one to be rebooted.
PROTO_TIMEOUT = 300
# Time in seconds that must be exceeded to force reboot a device.
FORCE_REBOOT_TIMEOUT = 1800
# Time in seconds that must elapse between forced reboots.
FORCE_REBOOT_WAITTIME = 3600
# Time in seconds that must elapse between reboots.
REBOOT_WAITTIME = 60
# Time in seconds to sleep between power toggling off and back on.
OFF_ON_SLEEP = 5

[DISCORD]
WEBHOOK: <True/False>
WEBHOOK_URL: https://discordapp.com/api/webhooks/xxxxxxxxxxx
