######################################################
#                                                    #
#      Configuration file for RebootMadDevice        #
#                                                    #
######################################################

[Enviroment]
ADB_PATH: /usr/bin
ADB_PORT: 5555
LOG_CONSOLE_ONLY: <True/False>
LOG_FILENAME: CheckMadDevices.log
LOG_LEVEL: INFO

[Discord]
WEBHOOK_ENABLE: <True/False>
WEBHOOKURL: https://discordapp.com/api/webhooks/xxxxxxxxxxx

[Status LED]
LED_ENABLE: True
# internal or external LED
LED_TYPE: internal/external
# Number of LED pixels.
LED_COUNT: 60
# GPIO pin connected to the pixels (18 uses PWM!)
LED_PIN: 18
# LED signal frequency in hertz (usually 800khz)
LED_FREQ_HZ: 800000
# DMA channel to use for generating signal (try 10)
LED_DMA: 10
# Set to 0 for darkest and 255 for brightest
LED_BRIGHTNESS: 255
# True to invert the signal (when using NPN transistor level shift)
LED_INVERT: False
# WS for external LED
LED_WS_EXTERNAL: ws://<IP>:<Port>

[MAD server]
MITM_PROTO: http
MITM_RECEIVER_IP: 127.0.0.1
MITM_RECEIVER_PORT: 8000
MITM_RECEIVER_STATUS_ENDPOINT: status
MITM_PASS: yourpass
MADMIN_PROTO: http/https
MADMIN_IP: 127.0.0.1
MADMIN_PORT: 5000
MADMIN_STATUS_ENDPOINT: get_status
MADMIN_USER: madmin
MADMIN_PASS: yourpass

[Reboot Options]
# time in s between checking all devices
SLEEPTIME_BETWEEN_CHECK = 300
# no mitm connect from device timeout
MITM_TIMEOUT = 10
# no data from device timeout
PROTO_TIMEOUT = 30
# force power switch when timeout longer than
FORCE_REBOOT_TIMEOUT = 45
# next reboot for a device after this waittime
REBOOT_WAITTIME = 10

[Devices]
DEVICE_0: <ORINGIN_DEVICE_0>;<IP_ADRESS_DEVICE_0>
DEVICE_1: <ORINGIN_DEVICE_1>;<IP_ADRESS_DEVICE_1>
DEVICE_xx: <ORINGIN_DEVICE_xx>;<IP_ADRESS_DEVICE_xx>

[PowerSwitchCommands]
SWITCH_MODE: <GPIO or HTML or CMD or PB>
#### for HTTP mode ####
PowerON_Device_1: http://<IPADRESS_POWER_SWITCH>/<PowerONcommand>
PowerOFF_Device_1: http://<IPADRESS_POWER_SWITCH>/<PowerOFFcommand>
PowerON_Device_2: http://<IPADRESS_POWER_SWITCH>/<PowerONcommand>
PowerOFF_Device_2: http://<IPADRESS_POWER_SWITCH>/<PowerOFFcommand>
#### for GPIO mode ####
RELAY_MODE: <NO or NC>
#the cleanup_mode is optional. only use if you have problems with the relayswitch
CLEANUP_MODE: <yes or no>
GPIO_Device_1: 17
GPIO_Device_2: 27
#### for CMD mode ####
PowerON_Device_1: <path>/<command> <options>
PowerOFF_Device_1: <path>/<command> <options>
PowerON_Device_2: <path>/<command> <options>
PowerOFF_Device_2: <path>/<command> <options>
#### for PB mode ####
PB_INTERFACE: /dev/ttyACM0
PB_Device_1: 1
PB_Device_2: 2
PB_Device_3: 3
PB_Device_4: 4